.vscode/ipch/10aab9df466375b6/mmap_address.bin
.vscode/ipch/10aab9df466375b6/server_test.ipch
.vscode/*
lab1_pd1/test_client_udp/client_test_udp
lab2_pd1/lab2.3/sourceGOOD.zip
lab2_pd1/lab2.3/super_file.pdf
lab2_pd1/lab2.3/source/server1/super_file.pdf
lab2_pd1/lab2.3/source/server1/server
lab2_pd1/lab2.3/big_file.pdf
lab2_pd1/lab2.3/source/server1/server
lab2_pd1/lab2.3/big_file.pdf
lab2_pd1/lab2.3/big_file.pdf
lab2_pd1/lab2.3/source/client1/big_file.pdf
lab2_pd1/lab2.3/source/client1/super_file.pdf
lab2_pd1/lab2.3/tools/super_file.pdf
lab2_pd1/lab2.3/source/client1/big_file.pdf
lab2_pd1/lab2.3/source/client1/big_file.pdf
lab2_pd1/lab2.3/source/client1/client
lab2_pd1/lab2.3/source/server2/super_file.pdf
lab2_pd1/lab2.3/source/server2/big_file.pdf
lab2_pd1/lab2.3/source/server2/file2.txt
lab2_pd1/lab2.3/source/server2/file1.txt
lab2_pd1/lab2.3/tools/big_file.pdf
lab2_pd1/lab2.3/client1_ref
